{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}

  <!-- Header -->


    <div class="container">
      <div class="header-body text-center mb-7 mt-5">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-dark">Welcome!</h1>
            <p class="text-lead dark">Use these awesome forms to login or create new account in your project for free.</p>
          </div>
        </div>
      </div>
    </div>

  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-light text-center mt-2 mb-1">
              Sign IN
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-light mb-4">
              <span>USER: user_1 / password123</span>
              <br />
              <span>USER: user_2 / password123</span>
              <br>
              <span>USER: user_3 / password123</span>
              <br>
              <span>USER: user_4 / password123</span>
              <br>
              <span>ADMIN: admin / 12</span>
            </div>
            <form method="post" role="form">
              {% csrf_token %}

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <div class="text-danger mb-3">{{ error }}</div>
                {% endfor %}
              {% endif %}

              <div class="form-group mb-3">
                <div class="input-group input-group-merge input-group-alternative">
                  {{ form.username }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                  {{ form.password }}
                </div>
              </div>
              <div class="custom-control custom-control-alternative custom-checkbox">
                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                <label class="custom-control-label" for=" customCheckLogin">
                  <span class="text-light">Remember me</span>
                </label>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4">Sign in</button> 
                <a href="{% url 'register' %}" class="btn btn-primary my-4"><small>Create new account</small></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

 

{% endblock body %}